#pageScroll{
    position: fixed;
    right: 0;
    height: 120px;
    width:50px;
    z-index: 110;
}
#pageUp{
    border-radius: 50%;
    height: 50px;
    margin-bottom: 20px;
    width:100%;
    background-color: #bfbfbf42;
    cursor: pointer;
}
#pageDown{
    border-radius: 50%;
    height: 50px;
    width:100%;
    background-color: #bfbfbf9c;
    cursor: pointer;
}
.cssVisibility{
    display:none;
}
.pageScrollEnable{
    background-color: #dadaf7 !important;
}
#pageScrollSwitcher{
    position: fixed;
    right: 0;
    bottom: 50px;
    width:20px;
    height: 30px;
    background-color: #dddddd94;
    z-index: 2;
    cursor: pointer;
}
#pageScrollSwitcherLeft{
    position: fixed;
    left: 0;
    bottom: 50px;
    width:20px;
    height: 30px;
    background-color: #dddddd94;
    z-index: 2;
    cursor: pointer;
}